.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip > [data-text] {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    /* bottom: 125%; */
    left: 50%;
    margin-left: -100px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip.bottom-tooltip > [data-text] {
    top: 125%;
}

.tooltip.top-tooltip > [data-text]::after {
    border-color: #555 transparent transparent transparent;
    top: 100%;

}

.tooltip.top-tooltip > [data-text] {
    bottom: 125%;
}

.tooltip.bottom-tooltip > [data-text]::after {
    border-color: transparent transparent #555 transparent;
    bottom: 100%;
}
  
  
.tooltip > [data-text]::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip > [data-content]:hover + [data-text] {
    visibility: visible;
    opacity: 1;
}