.global-header {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 5rem;
    width: 100%;
    background-color: rgb(253, 249, 249);

    display: flex;
    flex-direction: row;
}

.name-link-to-hub {
    color: inherit;
    text-decoration: none;
}

/* .name-wrapper { */
    /* width: fit-content; */
    /* position: relative; */
    /* display: inline-block;     */
/* } */
/* 
.header-items {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
}
*/
.name-items {
    word-break: break-all;
}

.restaurant-name {
    font-size: 125%;
}

.logo-wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
}

.logo {
    user-select: none;
    /* pointer-events: none; */
}
/* 
.logo-wrapper:hover {
    border-bottom: solid black 3px;
} */